*{
    
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    color: blueviolet;
    font-family: 'poppins',monospace;
    
    
}
h1{
    padding-left: 300px;
    
}
form{
    border: 1px solid red;
    padding: 20px;
    width: 30%;
    margin-left: 20%;
    align-items: center;
    border-radius: 20px;
    padding-right: 40px;
    background-color: whitesmoke;
    padding-left: 200px;
}
input,textarea{
    width: 50%;
    border: 1px solid rgb(1, 3, 82);
    padding-left: 50px;
   
}
textarea{
    border-radius: 10px;
}
input{
    height: 2rem;
    width: ;
}
input::placeholder,
textarea::placeholder{
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    font-weight: 800;
}
button{
    width: 200px;
    margin-left: 20px;
    padding: 0.8rem,1.6rem;
    border-radius: 5px;
    color: black;
    background: blue;
    height: 20px;
    font-weight: bolder;
    
}